@use "sass:color";
@import 'src/styles/colors';



@debug color.scale($bgdark, $lightness: 10%);

@mixin darkmode {
  --color-background: #{$bgdark};
  --color-text: #{$textlight};
  --color-border: #{$borderlight};
  --color-background-hover: #{color.scale($bgdark, $lightness: 10%)};
  --color-background-click: #{color.scale($bgdark, $lightness: 20%)};
  --color-border-hover: #{color.scale($borderlight, $lightness: -10%)};
  --color-border-click: #{color.scale($borderlight, $lightness: -20%)};
}

@mixin lightmode {
  --color-background: #{$bglight};
  --color-text: #{$textdark};
  --color-border: #{$borderdark};
  --color-background-hover: #{scale-color($bglight, $lightness: -10%)};
  --color-background-click: #{scale-color($bglight, $lightness: -20%)};
  --color-border-hover: #{color.scale($borderdark, $lightness: 10%)};
  --color-border-click: #{color.scale($borderdark, $lightness: 20%)};
}

@media(prefers-color-scheme: dark) {
  :global body {
    @include darkmode
  }

  :global body.lightmode {
    @include lightmode
  }
}

@media(prefers-color-scheme: light) {
  :global body {
    @include lightmode
  }

  :global body.darkmode {
    @include darkmode
  }
}

:global body {
  background-color: var(--color-background);
  color: var(--color-text);
}